<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Users list</h1>
    <div th:each="user : ${users}">
        <span th:text="${'Имя: ' + user.getLogin() + ' ID: ' + user.getUserId()}"/><br>
        <a th:href="@{'/users/' + ${user.getUserId()}}" class="btn btn-primary">Инфо</a>
        <a th:href="@{'/users/update/' + ${user.getUserId}}" class="btn btn-primary">Изменить</a>
        <p></p>
        <form method="delete" th:action="@{'/users/delete/' + ${user.getUserId}}">
            <button class="btn btn-primary" type="submit">Удалить</button>
        </form>
        <br>
    </div>
    <br>
    <p></p>
    <a th:href="@{/create}" class="btn btn-primary">Создать нового пользователя</a>
    <p></p>
</div>

</body>
</html>